.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
    width: 50%;

}

.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    border-right: solid #DDDDDD 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 25px;
}
.amenities {
    border: none;
}
h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width:20%;
    border: none;
    border-radius: 4px;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
}

button:active {
    opacity: 90%;
}
